@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.navbar {
  height: 75px;
  background-color: #005F73 !important;
}

.logospace {
  max-height: none !important;
  padding: 20px;
}
.navbar-item {
  font-size: 17px;
  color: white !important;
  font-family: "Poppins", sans-serif;
}

.navbar-menu {
  padding-right: 50px !important;
}

.title {
  font-size: 70px !important;
  opacity: 1 !important;
  color: #005F73 !important;
  font-family: "Poppins", sans-serif;
}

.banner {
  background: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-size : 98%;
}

.subtitle {
  max-width: 850px;
  color: black !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.navbar-item:hover {
  background-color: #005F73 !important;
  color: black !important;
}

.taglead {
  font-size: 30px;
  color: #005F73 !important;
  margin-top: 5px !important;
}
