@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.team-title {
  color: #005F73;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
  text-align: center;
}

.details {
  padding: 20px 20px 20px 50px;
}
